.board{
    display: grid;
    /* border: 2px solid red; */
      grid-template-columns: repeat(3, 125px); /* Adjust the width of each column as needed */
      grid-template-rows: repeat(3, 125px);    /* Adjust the height of each row as needed */
      gap: 0px;  /* Adjust the gap between cells as needed */
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.backhome-button{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5%;
}
.status {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
.input{
    /* background-color: #3498db; */
    /* border: 1px solid #2980b9;  */
    text-align: center;
    font-size: 5rem;
    line-height: 100px; /* Set the line height to center content vertically */
    color: #fff; /* Set the text color as needed */
}
.input1,.input2, .input4,.input5{
    border-right:4px dashed rgb(6, 234, 246);
    border-bottom:4px dashed rgb(6, 234, 246);
}
.input3, .input6{
    border-bottom:4px dashed rgb(6, 234, 246);
}
.input7,.input8{
    border-right:4px dashed rgb(6, 234, 246);
}
.reset{
    padding: 2%;
    background-color: blue;
    border: none;
    width: 50%;
    height: 50%;
    margin: 5%;
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    color: #ffffff;
    background-color: var(--dark-background);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: aqua;
    border-color: #2980b9;
    color: var(--dark-background);
}
.status{
    color:#0f0;
    text-align: center;
    padding-bottom: 1%;
}